@import '../variables.scss';

.events__parent, .page-title {
    margin-inline: auto;
    width: fit-content;
}

.events {
    margin-inline: auto;
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: calc($default-padding / 2);
}

.event {
    display: flex;
    gap: calc($default-padding / 2);

    &__date {
        aspect-ratio: 1;
        min-width: 60px;

        display: flex;
        flex-direction: column;
        gap: calc($default-padding / 4);

        > * {
            text-align: center;
        }
    }
    &__day {
        flex: 1;
        font-size: 3em;

        @media (width < 310px) {
            & {
                font-size: 2em;
            }
        }
    }

    &__info {
        flex: 1;
        
        display: flex;
        flex-direction: column;
        gap: calc($default-padding / 2);

        > * {
            margin-block: 0;
            width: fit-content;
        }
    }

    *:not(h3:first-child, .event__day) {
        @media (width < 310px) {
            & {
                font-size: 0.5em;
            }
        }
    }
}

#myMap {
    min-height: 500px;

    border-radius: calc($default-padding / 2);
    overflow: hidden;
}

$padding: 10px;
$hf-size: 3.5rem;
:has( > .InfoboxCustom > .infobox-body > * > .infobox) {
    $_max: calc(100% - #{$padding*2});

    top: unset !important;
    left: unset !important;
    bottom: $padding !important;
    right: $padding !important;

    max-height: $_max;
    max-width: $_max;
    
    *:not(.infobox *) {
        max-height: calc(100dvh - #{$hf-size*2} - 20px)
    }

    .Infobox.no-title {
        display: block !important;
        border: none !important;
        height: 0;

        .infobox-stalk {
            display: none;
            top: unset;
            left: unset;
        }
        .infobox-close {
            right: $padding;
            top: $padding;
        }
    }
}

.infobox {
    box-sizing: border-box;
    padding: $padding;

    background-color: #fff9;
    color: black;

    border-radius: $padding;

    overflow: auto;
    
    .title {
        font-weight: bold;
    }

    .stops {
        display: grid;
        gap: 0.25rem;
        .stop {
            max-width: 25rem;
            word-wrap: break-word;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}