@import '../variables.scss';

.home__event__parent {
    .btn.fl-right {
        margin-top: calc($default-padding / 2)
    }
}

.home__news__parent  {
    @media (width < 550px) {
        & {
            min-width: 100%;
        }
    }
}
.news {
    &, .article {
        display: flex;
        flex-direction: column;
    }
    gap: calc($default-padding / 2);
    
    .article {
        gap: calc($default-padding / 2);
        > * {
            margin-block: 0;
        }
    }
}