@import '../variables.scss';

.member {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: calc($default-padding / 2);
    }

    box-sizing: border-box;
    padding: calc($default-padding / 2);
    
    background-color: $accent-clr;
    color: $base-color;
    
    display: flex;
    flex-direction: column;
    gap: calc($default-padding / 2);

    &__image {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }
}