---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
---
<Layout title="About Us">
    <section class="empty-section no-padding">
        <h1 class="centered">About Us</h1>
    </section>
</Layout>