---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Upcoming Events">
    <section class="title__parent">
        <h1 class="page-title">Upcoming Events</h1>
    </section>
</Layout>