---
import Layout from '../layouts/Layout.astro'
import '../styles/pages/events.scss'

import events from './events.js'

---
<Layout title="Upcoming Events">
    <section class="events__parent">
        <h1 class="page-title">Upcoming Events</h1>
        <div class="events">
            {
                events.map(event => {
                    return (
                        <div class="event">
                            <div class="event__date">
                                <span class="event__month">{event.date.split(' ')[0]}</span>
                                <span class="event__day">{event.date.split(' ')[1]}</span>
                            </div>
                            <div class="event__info">
                                <h3 class="event__title">{event.title}</h3>
                                <span>{event.location}</span>
                                <p>{event.description}</p>
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </section>
    <section class="events__map">
        <div id="myMap"></div>
    </section>
    <script is:inline events={JSON.stringify(events)}>
        var events = JSON.parse(document.currentScript.getAttribute('events'))
    </script>
    <script src="/events.js" is:inline></script>
</Layout>