---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
import Split from '../components/split.astro'

import '../styles/pages/index.scss'
import '../styles/pages/events.scss'

import events from '../events.js'

var news = [
    {
        "title": "Food Forward Initiative Launches",
        "description": "The Food Forward Initiative at UC Berkeley aims to reduce food waste by composting at Clark Kerr Campus Gardens and donating surplus food to local shelters."
    },
    {
        "title": "Students Combat Food Waste",
        "description": "UC Berkeley summer students launch the Food Forward Initiative to compost campus food waste and support homeless shelters with unused food donations."
    },
    {
        "title": "Initiative Kicks Off with Garden Workday",
        "description": "The Food Forward Initiative began with a Community Garden Workday, focusing on composting food waste and promoting sustainability at UC Berkeley."
    },
    {
        "title": "Supporting Shelters with Surplus Food",
        "description": "The Food Forward Initiative at UC Berkeley will redirect unused campus food to homeless shelters, reducing waste and aiding those in need."
    },
    {
        "title": "New Sustainability Effort Targets Food Waste",
        "description": "The Food Forward Initiative at UC Berkeley converts food waste into compost and donates surplus food, promoting sustainability and community support."
    }
]

---
<Layout title="Home">
    <section class="flex-split">
        <section class="hero__area" style="flex: 5;">
            <h1 class="centered">Transforming waste into hope: nourishing our community, sustaining our planet.</h1>
        </section>
        <section class="banner__parent" style="flex: 3;">
            <img src="/assets/images/compost-food-waste.jpg" alt="Compost Food Waste" class="banner__image" />
        </section>
    </section>
    <section class="flex-split">
        <section class="home__events__parent" style="flex: 3;">
            <h2>Upcoming Events</h2>
            <div class="events">
                {
                    events.map(event => {
                        return (
                            <div class="event">
                                <div class="event__date">
                                    <span class="event__month">{event.date.split(' ')[0]}</span>
                                    <span class="event__day">{event.date.split(' ')[1]}</span>
                                </div>
                                <div class="event__info">
                                    <h3 class="event__title">{event.title}</h3>
                                    <span>{event.location}</span>
                                </div>
                            </div>
                        )
                    })
                }
                <a class="btn fl-right" href="/events/">See Map + More</a>
            </div>
        </section>
        <section class="home__news__parent" style="flex: 5;">
            <h2>News</h2>
            <div class="news">
                {
                    news.map(article => {
                        return (
                            <div class="article">
                                <h3 class="article__title">{article.title}</h3>
                                <p class="article__desc">{article.description}</p>
                            </div>
                        )
                    })
                }
            </div>
        </section>
    </section>
</Layout>